@charset "UTF-8";

/* Desktops */

@media screen and (min-width:1024px) {

    header{
        position: fixed;
        box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.363);
    }

    menu{
        display: block !important;
    }

        menu > ul{
            text-align: right;
            position: relative;
            word-spacing: 6px;
            color: white;

            transform: translate(-6%, 25px);

        }

            menu > ul > li{
                list-style: none;
                display: inline-block;
            }

        menu h3{
            display: none;
        }

    #burguer{
        display: none;
    }

    #x{
        display: none;
    }

    #h1mb{
        display: none;
    }

    #h1pc{
        position: relative;
        font-size: 3.7em;
    }

    /* Configuração da primeira sessão do portal, onde possui uma imagem de fundo */
    section#inicio > button#cursos{
        font-size: 1em;
        background-color: #FFFEFD;
        color: #0B914D;
        font-weight: bold;
        padding-bottom: 48px;
        padding-right: 7px;
        width: 19%;
        height: 45px;
        top: 50%;
        left: 50%;
        border: none;
        border-radius: 25px;
        position: absolute;
        cursor: pointer;

        transition: all ease-in-out 260ms;
        transform: translate(-50%, 340%);
    }

        section#inicio > button#cursos:hover{
            margin-top: -18px;
            width: 20%;
            height: 50px;
            font-size: 1.1em;
        }

        div#seta > a > i#icoseta{
            position: relative;
            top: 50%;
            left: 50%;

            transform: translate(-50%, 440.5px);
        }

    /* Configurando segunda sessão do portal */

    section#nossa-historia > h3{
        font-size: 42px;
        position: absolute;
        padding: 88px;
        left: 440px;
        }

            h3::after{
                width: 147px;
                transform: translate(-221px, 62px);
            }
}