@charset "UTF-8";

/* Outras telas */

/* Celulares Pequenos*/

@media screen and (min-width:375px) and (max-width:399px) {
    menu{
        background-color: #028744;
        height: 100vh;
        text-indent: 3px;
        position: relative;
    }
    

    menu > ul{
        transform: translate(-2px, 1%);
    }

    menu > ul > li{
        padding: 18px;
        font-size: 1.15em;
       
    }
    
    menu > ul > li > a > #ico{
        position: relative;
        padding-right: 20px;
    }

    menu > h3{
        color: white;
        font-size: 1.29em;
        position: relative;
        transform: translate(4%, 28px);
    }

    menu{
        display: none;
    }

    
    #burguer{
        color: #f38507;
        border: 1px solid #f38507;
        font-size: 17px;
        padding: 5px 9px 5px 9px;
        transform: translate(18em, 29px);
        border-radius: 5px;
        transition: all ease-in-out 300ms;
        position: fixed;
    }

    #burguer:active{
        color: white;
    }

    #x{
        color: white;
        transform: translate(330px);
        position: relative;
    }
}

/* ------------------------------------------- */

/* Celulares Adiantes */
@media screen and (min-width:400px) and (max-width:767px) {
    menu{
        background-color: #028744;
        height: 100vh;
        text-indent: 3px;
        position: relative;
    }
    

    menu > ul{
        transform: translate(-2px, 1%);
    }

    menu > ul > li{
        padding: 18px;
        font-size: 1.15em;
       
    }
    
    menu > ul > li > a > #ico{
        position: relative;
        padding-right: 20px;
    }

    menu > h3{
        color: white;
        font-size: 1.29em;
        position: relative;
        transform: translate(4%, 28px);
    }

    menu{
        display: none;
    }

    
    #burguer{
        color: #f38507;
        border: 1px solid #f38507;
        font-size: 17px;
        padding: 5px 9px 5px 9px;
        transform: translate(20em, 29px);
        border-radius: 5px;
        transition: all ease-in-out 300ms;
        position: fixed;
    }

    #burguer:active{
        color: white;
    }

    #x{
        color: white;
        transform: translate(330px);
        position: relative;
    }
}


/* ------------------------------------------- */


/* Tablets */

@media screen and (min-width:768px) and (max-width:1023px) {
    menu{
        background-color: #028744;
        height: 100vh;
        text-indent: 3px;
        position: relative;
    }

    menu > ul{
        transform: translate(-2px, 1%);
    }

    menu > ul > li{
        padding: 18px;
        font-size: 1.15em;
       
    }
    
    menu > ul > li > a > #ico{
        position: relative;
        padding-right: 20px;
    }

    menu > h3{
        color: white;
        font-size: 1.29em;
        position: relative;
        transform: translate(4%, 12px);
    }

    menu{
        display: none;
    }

    
    #burguer{
        color: #f38507;
        border: 1px solid #f38507;
        font-size: 17px;
        padding: 5px 9px 5px 9px;
        transform: translate(710px,31px);
        border-radius: 5px;
        transition: all ease-in-out 300ms;
    }

    #burguer:active{
        color: white;
    }

    #x{
        color: white;
        transform: translate(700px);
        position: relative;
    }
}


/* Desktops */

@media screen and (min-width:1024px) {

    header{
        position: fixed;
    }

    menu{
        display: block !important;
    }

    menu > ul{
        text-align: right;
        position: relative;
        transform: translate(-6%, 25px);
        word-spacing: 6px;
        color: white;
    }

    menu > ul > li{
        list-style: none;
        display: inline-block;
    }

    menu h3{
        display: none;
    }

    #burguer{
        display: none;
    }

    #x{
        display: none;
    }
}