@charset "UTF-8";

/* Celulares Pequenos*/

@media screen and (min-width:360px) and (max-width:399px) {

    header{
        position: fixed;
    }

    menu{
        background-color: #028744;
        height: 100vh;
        text-indent: 3px;
        position: relative;
    }
    

    menu > ul{
        transform: translate(-2px, 1%);
    }

    menu > ul > li{
        padding: 18px;
        font-size: 1.15em;
       
    }
    
    menu > ul > li > a > #ico{
        position: relative;
        padding-right: 20px;
    }

    menu > h3{
        color: white;
        font-size: 1.29em;
        position: relative;

        transform: translate(4%, 28px);
    }

    menu{
        display: none;
    }

    /* Hamburguer Menu, aparece em tablets e celulares para guardar o menu dentro */
    #burguer{
        color: #FFA500;
        border: 1px solid #FFA500;
        font-size: 17px;
        padding: 5px 9px 5px 9px;
        border-radius: 5px;
        position: fixed;

        transform: translate(19em, 29px);
        transition: all ease-in-out 300ms;
    }

    #burguer:active{
        color: white;
    }

    #x{
        color: white;
        position: relative;

        transform: translate(310px, 20px);
    }

    #h1pc{
        display: none;
    }


    /* Configuração da primeira sessão do portal, onde possui uma imagem de fundo */

    section#inicio{
        height: 780px;
    }

    section#inicio > h1#h1mb{
        position: relative;
        top: 50%;
        left: 50%;
        font-size: 2.2em;

        transform: translate(-50%, -30%);
    }


    section#inicio > p{
        font-size: 1.2em;
        padding: 35px;

        transform: translate(-1px, 340px);
    }

    section#inicio > button#cursos{
        position: relative;
        top: 50%;
        left: 50%;
        width: 65%;
        height: 48.5px;
        padding-bottom: 12.5px;
        padding-right: 7px;

        transform: translate(-50%, -70%);
    }

        section#inicio > button#cursos:hover{
            margin-top: -5px;
            width: 67%;
            height: 49px;
        }

        #icoseta{
            top:50%;
            left: 50%;

            transform: translate(-50%, 770%);
        }


    /* Configurando segunda sessão do portal */

    section#nossa-historia > h3{
        padding: 50px;
        font-size: 2em;

        transform: translate(30px, 35px);
    }
    
}

/* ------------------------------------------- */

/* Celulares Adiantes */
@media screen and (min-width:400px) and (max-width:767px) {

    header{
        position: fixed;
    }


    menu{
        background-color: #028744;
        height: 100vh;
        text-indent: 3px;
        position: relative;
    }
    

    menu > ul{
        transform: translate(-2px, 1%);
    }

    menu > ul > li{
        padding: 18px;
        font-size: 1.15em;
       
    }
    
    menu > ul > li > a > #ico{
        position: relative;
        padding-right: 20px;
    }

    menu > h3{
        color: white;
        font-size: 1.29em;
        position: relative;

        transform: translate(4%, 28px);
    }

    menu{
        display: none;
    }

    /* Hamburguer Menu, aparece em tablets e celulares para guardar o menu dentro */
    #burguer{
        color: #FFA500;
        border: 1px solid #FFA500;
        font-size: 17px;
        padding: 5px 9px 5px 9px;
        border-radius: 5px;
        position: fixed;

        transform: translate(21em, 29px);
        transition: all ease-in-out 300ms;
    }

    #burguer:active{
        color: white;
    }

    #x{
        color: white;
        position: relative;

        transform: translate(310px, 20px);
    }

    #h1pc{
        display: none;
    }

    /* Configuração da primeira sessão do portal, onde possui uma imagem de fundo */

    section#inicio{
        height: 900px;
    }

    section#inicio > h1#h1mb{
        position: relative;
        top: 50%;
        left: 50%;
        font-size: 2.3em;

        transform: translate(-50%, -45%);
    }

    section#inicio > p{
        font-size: 1.2em;
        padding: 35px;

        transform: translate(-1px, 385px);
    }

    section#inicio > button#cursos{
        position: relative;
        top: 50%;
        left: 50%;
        width: 65%;
        height: 48.5px;
        padding-bottom: 12.5px;
        padding-right: 7px;

        transform: translate(-50%, -110%);
    }

        section#inicio > button#cursos:hover{
            margin-top: -5px;
            width: 63%;
            height: 48px;
        }

    #icoseta{
        top:50%;
        left: 50%;

        transform: translate(-50%, 730%);
    }


    /* Configurando segunda sessão do portal */

    section#nossa-historia > h3{
        padding: 50px;
        font-size: 2em;

        transform: translate(30px, 35px);
    }

    }