@charset "UTF-8";


/* Geral */

*{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --verde:#008C45;
    --laranja:#FFA500;
}

html{
    height: 100vh;
    scroll-behavior: smooth;
}

header{
    background-color: var(--verde) ;
    height: 82.5px;
    width: 100vw;
    z-index: 10;
}

    /* Configurçãoes de Menu, onde estará os links do portal */
    menu{
        z-index: 10;
        transition: width 0.5s, height 0.5s;
    }

        menu > ul > li > a{
            text-decoration: none;
            color: white;
            font-size: 1.02em;
            outline: none;  

            transition: all ease-out 270ms;
        }

            menu > ul > li > a:hover{
                color:var(--laranja) ;
            }

        menu > ul > li{
            list-style: none;
            padding-bottom: 15px;
        }

        menu > ul > li > a > #ico{
            position: relative;
            font-size: 1.3em;

            transform: translate(7px, 5px);
            transition: all ease 240ms;  
        }

        #burguer{
            position: fixed;
        }


    /* -------------------------------------------------------- */

    section{
        background-color: #F8F9FA;
    }

    /* Configuração da primeira sessão do portal, onde possui uma imagem de fundo */
    section#inicio{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),url(../assets/img/fundo-imagem-sgtm.jpeg) no-repeat;
        background-position: center ;
        background-size: cover;
        height: 675px;
    }

        section#inicio > h1{
            color: white;
            position: relative;
            text-align: center;
            font-weight: bold;

            transform: translate(0, 240px);
        }

 
        section#inicio > p{
            color: white;
            font-size: 23.5px;
            text-align: center;

            transform: translate(-10px, 260px);
        }

        section#inicio > button#cursos{
            font-size: 1em;
            background-color: #FFFEFD;
            color: #0B914D;
            font-weight: bold;
            border: none;
            border-radius: 25px;
            position: absolute;
            cursor: pointer;
            outline: none;

            transition: all ease 180ms;
        }
    

            section#inicio > button#cursos:hover{
                color: white;
                background-color: #FFA500;
            }

            #ico-cursos{
                display: inline-block;
                padding: 5px;

                transition: all ease 250ms;
                transform: translate(0, 5px);                
            }


        @keyframes Seta{

            0% {
                margin-top: 10px;
            }
        
            50% {
                margin-top: 20px;
            }
        
            100% {
                margin-top: 10px;
            }
        }
        

        i#icoseta{
            color: #FAFAFA;
            position: absolute;
            font-size: 3em;
            transition: all ease-out 480ms;

            animation: Seta 1s ease-in-out infinite;
        }

            i#icoseta:hover{
                color: #FFA500;
            }

        /* -------------------------------------------------------------------------- */

        /* Configurando segunda sessão do portal */

        section#nossa-historia{
            height: 675px;
        }

            section#nossa-historia > h3{
                color: #007A33;
            }

                h3::after{
                    content: '';
                    background-color: #FFA500;
                    width: 100px;
                    height: 3px;
                    position: absolute;
                }


    


    

   



      

   
   