@charset "UTF-8";


/* Geral */

*{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --verde:#008C45;
    --laranja:#FFA500;
}

html{
    height: 100vh;
    scroll-behavior: smooth;
}

header{
    background-color: var(--verde) ;
    height: 82.5px;
    width: 100vw;
    z-index: 10;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.363);
}

    /* Configurçãoes de Menu, onde estará os links do portal */
    menu{
        z-index: 10;
        transition: width 0.5s, height 0.5s;
    }

        menu > ul > li > a{
            text-decoration: none;
            color: white;
            transition: all ease-out 270ms;
            font-size: 1.02em;
            outline: none;  
        }

            menu > ul > li > a:hover{
                color:var(--laranja) ;
            }

        menu > ul > li{
            list-style: none;
            padding-bottom: 15px;
        }

        menu > ul > li > a > #ico{
            position: relative;
            transform: translate(7px, 5px);
            font-size: 1.3em;
            transition: all ease 240ms;  
        }


    /* -------------------------------------------------------- */

    /* Configuração da primeira sessão do portal, onde possui uma imagem de fundo */
    section#inicio{
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)),url(../assets/img/fundo-imagem-sgtm.jpeg) no-repeat;
        background-position: center ;
        background-size: cover;
        height: 650px;
    }

        section#inicio > h1{
            color: white;
            position: relative;
            text-align: center;
            transform: translate(0, 250px);
            font-weight: bold;
        }

 
        section#inicio > p{
            color: white;
            font-size: 23px;
            text-align: center;
            transform: translate(-10px, 272px);
        }

        section#inicio > button#cursos{
            font-size: 1em;
            background-color: #FFFEFD;
            color: #0B914D;
            font-weight: bold;
            border: none;
            border-radius: 25px;
            position: relative;
            cursor: pointer;
            outline: none;

            transition: all ease 180ms;
        }
    

            section#inicio > button#cursos:hover{
                color: white;
                background-color: #FFA500;
            }

            #ico-cursos{
                display: inline-block;
                padding: 5px;

                transition: all ease 250ms;
                transform: translate(0, 5px);                
            }


    


    

   



      

   
    